.area{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.inc{
  padding: 15px 30px;
  background-color: greenyellow;
  border-radius: 10px;
  cursor: pointer;
  border:none;
}
.dec{
  padding: 15px 30px;
  background-color: orangered;
  border-radius: 10px;
  cursor: pointer;
  border:none;
  margin-left: 10px;
}
.value{
  margin-left: 10px;
}